header{
    background-color: aqua;
}

nav{
    background-color: goldenrod;
}

h1, h2, h3{
    justify-content: center;
    text-align: center;
}

button{
    justify-content: center;
}

#preguntas{
    background-color: burlywood;
    width: auto;
    height: auto;
}

#preguntas p{
    display: flex;
    flex-direction: column;
    text-align: justify;
   
    padding: 15px;
    
}

#containerRespuesta{
    border: 5px;
}
.respuesta{
    margin: 10px;
    padding: 10px;
    height: 1em;
    display:flex;
    border: 2px solid black;
}

#div1{
    background-color: red;
}
#div2{
    background-color: yellow;
}
#div3{
    background-color: green;
}
#div4{
    background-color:blue ;
}

#estadisticas{
   display:flex;
}


